body {
    background-color: wheat;
}

.background {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.background2 {
    background-color: lightblue;
    height: 100px;
}